@font-face {
    font-family: "Josefin Sans";
    src: url("components/files/font.woff2");
}

/*CSS в Реакте не хочет грузить бэкграунд из public, ругается на это. Поэтому добавил в src/components, оттуда грузит нормально*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(components/files/Background.jpg);
    background-repeat: repeat;
    color: rgb(66, 66, 66);
    text-align: center;
}

/** HEADER **/
/** HEADER **/
.Header {
    text-align: center;
    text-decoration-line: none;
    font-size: 1.3em;
    margin-bottom: 1em;
}
.Header:hover {
    font-weight: bold;
}
.Header a {
    text-decoration-line: none;
}
@media screen and (max-width:320px) {

}
@media screen and (min-width:321px) and (max-width:639px) {

}
@media screen and (min-width:640px) and (max-width:959px) {

}
@media screen and (min-width:960px) and (max-width:1279px) {
}
@media screen and (min-width:1280px) and (max-width:1599px) {

}
@media screen and (min-width:1600px) {

}

/** GAME CANVAS **/
/** GAME CANVAS **/
.GameCanvas {
    margin-top: 2em;
    text-align: center;
    font-size: 2em;
}
@media screen and (max-width:320px) {
}
@media screen and (min-width:321px) and (max-width:639px) {
}
@media screen and (min-width:640px) and (max-width:959px) {
}
@media screen and (min-width:960px) and (max-width:1279px) {
}
@media screen and (min-width:1280px) and (max-width:1599px) {
}
@media screen and (min-width:1600px) {
}

/** SCORE **/
/** SCORE **/
.score {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.scoreUndertext {
    text-align: center;
    font-weight: normal;
    font-size: 0.6em;
    padding-bottom: 1em;
}
@media screen and (max-width:320px) {
}
@media screen and (min-width:321px) and (max-width:639px) {
}
@media screen and (min-width:640px) and (max-width:959px) {
}
@media screen and (min-width:960px) and (max-width:1279px) {
}
@media screen and (min-width:1280px) and (max-width:1599px) {
}
@media screen and (min-width:1600px) {
}

/** RestartButton **/
/** RestartButton **/
.RestartButton {
    border: 2px solid rgba(0, 0, 0, 0.44);
    border-radius: 2em;
    padding: 0.4em;
    text-decoration: none;
    position: absolute;
    top: 70%;
    transform: translate(-50%, -50%);
}
.RestartButton:hover{
    background: rgba(249, 210, 157, 0.16);
}
@media screen and (max-width:320px) {
}
@media screen and (min-width:321px) and (max-width:639px) {
}
@media screen and (min-width:640px) and (max-width:959px) {
}
@media screen and (min-width:960px) and (max-width:1279px) {
}
@media screen and (min-width:1280px) and (max-width:1599px) {
}
@media screen and (min-width:1600px) {
}










