@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');


/*CSS в Реакте не хочет грузить бэкграунд из public, ругается на это. Поэтому добавил в src/components, оттуда грузит нормально*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Jost', serif;
    background-image: url(components/files/Background.jpg);
    background-repeat: repeat;
    color: rgb(66, 66, 66);
    text-align: center;
}

/** HEADER **/
/** HEADER **/
.Header {
    text-align: center;
    text-decoration-line: none;
    font-size: 1.3em;
    margin-top: 1em;
}
.Header:hover {
    font-weight: bold;
}
.Header a {
    text-decoration-line: none;
}
@media screen and (max-width:320px) {

}
@media screen and (min-width:321px) and (max-width:639px) {

}
@media screen and (min-width:640px) and (max-width:959px) {

}
@media screen and (min-width:960px) and (max-width:1279px) {
}
@media screen and (min-width:1280px) and (max-width:1599px) {

}
@media screen and (min-width:1600px) {

}

/** GAME CANVAS **/
/** GAME CANVAS **/
.GameCanvas {
    margin-top: 2em;
    text-align: center;
    font-size: 2em;
}
@media screen and (max-width:320px) {
}
@media screen and (min-width:321px) and (max-width:639px) {
}
@media screen and (min-width:640px) and (max-width:959px) {
}
@media screen and (min-width:960px) and (max-width:1279px) {
}
@media screen and (min-width:1280px) and (max-width:1599px) {
}
@media screen and (min-width:1600px) {
}


.GameField {
}
@media screen and (max-width:320px) {
}
@media screen and (min-width:321px) and (max-width:639px) {
    .GameField {
        width: 420px;
        height: 360px;
    }
}
@media screen and (min-width:640px) and (max-width:959px) {
    .GameField {
        width: 510px;
        height: 360px;
    }
}
@media screen and (min-width:960px) and (max-width:1279px) {
    .GameField {
        width: 720px;
        height: 360px;
    }
}
@media screen and (min-width:1280px) and (max-width:1599px) {
    .GameField {
        width: 720px;
        height: 360px;
    }
}
@media screen and (min-width:1600px) {
    .GameField {
        width: 810px;
        height: 510px;
    }
}

/** SCORE **/
/** SCORE **/
.score {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}
.scoreUndertext {
    text-align: center;
    font-weight: normal;
    font-size: 0.6em;
    padding-bottom: 1em;
}
@media screen and (max-width:320px) {
}
@media screen and (min-width:321px) and (max-width:639px) {
}
@media screen and (min-width:640px) and (max-width:959px) {
}
@media screen and (min-width:960px) and (max-width:1279px) {
}
@media screen and (min-width:1280px) and (max-width:1599px) {
}
@media screen and (min-width:1600px) {
}

/** RestartButton **/
/** RestartButton **/
.RestartButton {
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0.44);
    border-radius: 2em;
    padding: 0.4em;
    text-decoration: none;
    margin-top: 2em;
}
.RestartButton:hover{
    background: rgba(249, 210, 157, 0.16);
}
@media screen and (max-width:320px) {
}
@media screen and (min-width:321px) and (max-width:639px) {
}
@media screen and (min-width:640px) and (max-width:959px) {
}
@media screen and (min-width:960px) and (max-width:1279px) {
}
@media screen and (min-width:1280px) and (max-width:1599px) {
}
@media screen and (min-width:1600px) {
}










