@font-face {
    font-family: "Josefin Sans";
    src: url("components/files/font.woff2");
}

/*CSS в Реакте не хочет грузить бэкграунд из public, ругается на это. Поэтому добавил в src/components, оттуда грузит нормально*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    background-image: url(components/files/Background.jpg);
    background-repeat: repeat;
    color: rgb(66, 66, 66);
}


/****Navbar****/

.Header {
    margin-top: 1em;
    text-align: center;

}

.Header a {
    text-decoration: none;
    font-size: 1.3em;
}

.Header a:hover {
    font-weight: bold;
}


/****snake****/
.GameCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2em;
}

.score {
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.scoreUndertext {
    text-align: center;
    font-weight: normal;
    font-size: 0.6em;
    padding-bottom: 1em;
}

.RestartButton {
    position: absolute;
    top: 95%;
    left: 50%;
    border: 2px solid rgba(0, 0, 0, 0.44);
    border-radius: 2em;
    padding: 0.4em;
    display: inline-block;
    text-decoration: none;
    transform: translate(-50%, -50%);
    text-align: center;

}

.RestartButton:hover{
    background: rgba(249, 210, 157, 0.16);
}








